.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    min-height: 100px;
    border: 1px solid black;
    padding: 1px;
    text-align: center;
}

.box-nested{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: #F07F80;
    border: 1px solid pink;
}

/* MOBILE */
h2{
    font-size: xx-small;
}

/* DESKTOP */

@media screen and (max-width: 570px){
    
        
    }
    .box{
        background-color: teal;
    }

    .box-nested{
        background-color: turquoise;
        border: teal;
    }
}


